<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
li {
    margin-right: 40px;
}
.navbar li {
    margin-right: 10px;
}
</style>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <%=ClassName %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item active">
            <!-- Area for clasas id add only if felt the need -->
           <!-- <button  type="button" class="btn btn-outline-dark" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom"><%=id%></button>
           
             <a class="nav-link"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom" href="#">
              <%=id %> <span class="sr-only"></span></a> -->
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-dark">
              Class Code  <span class="badge rounded-pill bg-secondary"><%=ClassCode %></span>
          </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal2">
              Add More
          </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-dark" data-toggle="collapse" data-target="#multiCollapseExample1"  aria-expanded="false" aria-controls="multiCollapseExample1">Students coming online<span class="badge badge-light">  <%=online.length%></span></a>
            </button>
          </li>
         <li class="nav-item">
          <button type="button" class="btn btn-outline-dark" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Students coming Offline<span class="badge badge-light">  <%=offline.length%></span></a>
         </li>
        </button>
         <li class="nav-item">
          <button type="button" data-toggle="modal" class="btn btn-outline-dark" data-target="#exampleModalLong">
            Pending approvals <span class="badge badge-light">  <%=notifications.length%></span>          
          </button>
         </li>
         <li class="nav-item">
           <!-- <form action="/chat.html?username=<%=ClassTeacher%>&room=<%=id%>" method="post"> -->
            <form action="/chat.html?username=<%=ClassTeacher%>&room=<%=id%>&isteacher=1" method="post">
            <button class="btn btn-outline-dark" >
            Chat Room       
          </button>
        </form>
         </li>
        
        </ul>
      </div>
    </nav>

    <!-- Pending approval -->
 
<div class="container">
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% for(var i=0; i < notifications.length ; i++) { %>
         <h5 class="card-title">Student Register Number : <%=notifications[i].StudentID %></h5>
         <h6 class="card-subtitle mb-2 text-muted">Start Date :<%=notifications[i].StartDate %></h6>
         <h6 class="card-subtitle mb-2 text-muted">End Date : <%=notifications[i].EndDate %></h6>
         <p class="card-text"><%=notifications[i].Description %></p>
         <form method="post" action="/ChangeMode/<%=id %>/<%=notifications[i].StudentID %>/<%=notifications[i].StartDate %>/<%=notifications[i].EndDate %>">
         <button class="btn btn-info">Approve</button>
        </form>
         <br><hr><br>
        <% } %>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


    <!-- Pending approval end -->
    <!-- Schedule -->
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Weekday</th>
          <th scope="col">StartTime</th>
          <th scope="col">EndTime</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i < Schedule.length; i++) { %>
          <tr>
            <th scope="row">
              <%=i+1%>
            </th>
            <td>
              <%= Schedule[i].dayIndex %>
            </td>
            <td>
              <%= Schedule[i].startTime %>
            </td>
            <td>
              <%= Schedule[i].endTime %>
            </td>
            <td>
              <button type="button" class="btn " data-toggle="modal" data-target="#exampleModal" data-whatever="<%= Schedule[i].dayIndex %>">
                <img src="https://img.icons8.com/ios/50/000000/edit.png"/ width="30" height="30">
              </button>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Timings for</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- <form> -->
            <form id="docsForm" method="post"> 
              <div class="form-group">
                <label for="startTime" class="col-form-label">Enter start time:</label>
                <!-- <input type="text" class="form-control" name="startTime"> -->
                <select name="startTime" class="form-control">
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="14">15</option>
                </select>
              </div>
              <div class="form-group">
                <label for="endTime" class="col-form-label">Enter end time:</label>
                <!-- <input type="text" class="form-control" name="endTime"> -->
                <select name="endTime" class="form-control">
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                </select>
              </div>
              <button>click</button> 
          </div>
          </form>
        </div>
      </div>
    </div>
            <!-- Add more to schedule -->
      <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
        Add More
      </button> -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add in Schedule</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- <form> -->
              <form id="docsForm2" method="get" action="/addToSchdule/<%=id %>"> 
                <div class="form-group">
                  <select name="weekday" class="form-control">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                </select>
                
                  <!-- <label for="startTime" class="col-form-label">Enter Weekday:</label>
                  <input type="text" class="form-control" name="Weekday"> -->
                </div>
                <div class="form-group">
                  <label for="startTime" class="col-form-label">Enter start time:</label>
                  <!-- <input type="text" class="form-control" name="startTime"> -->
                  <select name="startTime" class="form-control">
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="14">15</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="endTime" class="col-form-label">Enter end time:</label>
                  <!-- <input type="text" class="form-control" name="endTime"> -->
                  <select name="endTime" class="form-control">
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                  </select>
                </div>
                <button>click</button> 
              </form>
            </div>
            
          </div>
        </div>
      </div>

      <!-- Add more to schedule ends -->

      <!-- Number of students onlne/offline/waiting for approval -->
      <!-- <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">List of Students coming online<span class="badge badge-light"><%=online.length%></span></a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">List of Students coming Offline<span class="badge badge-light"><%=offline.length%></span></button>
      </p> -->
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              <table class="table table-success table-striped">
                
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Register Number</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < online.length ; i++) { %>
                    <tr>
                    <th scope="row"><%=i%></th>
                    <td><%=online[i]%></td>
                    <td><%=online_names[i]%></td>
                    </tr>
                  <% } %>
                  
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
              <table class="table table-danger table-striped">
                
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Register Number</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < offline.length ; i++) { %>
                    <tr>
                    <th scope="row"><%=i%></th>
                    <td><%=offline[i]%></td>
                    <td><%=offline_names[i]%></td>
                    </tr>
                  <% } %>
                  
                </tbody>
              
            </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Number of students onlne/offline/waiting for approval ends -->

      <!-- newsletter begins -->
  <h6>Newsletter</h6>
      
   
        <% for(var i=0; i < Newsletter.length ; i++) { %>
          <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><%=Newsletter[i].Notice%> , <%=Newsletter[i].noticeDate%></p>
            <div class="card-footer text-muted">
              
              <form action="/DeleteNewsletter/<%=id %>/<%=i%>" method="post">
                <button class="btn btn-secondary btn-sm">Delete</button>

              </form>
            </div>
          </blockquote>
        </div>
        <br>
      </div>
        <% } %>

      
     
      <!-- Add to newsletter begins -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
  Add to newsletter
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/AddNews/<%=id %>" method="post">
          <textarea name="notice" id="" cols="30" rows="10"></textarea>
          <button type="submit">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
      <!-- Add to newsletter ends -->
      <!-- newsletter ends -->
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- <script src="JavaScript/jquery.js" />
<script src="JavaScript/bootstrap-min.js" /> -->
    <script>

      $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var day = button.data('whatever') // Extract info from data-* attributes
        var modal = $(this)
        modal.find('.modal-title').text('Update Timings for ' + day)
        $("#docsForm").attr("action", "/EditSchedule/<%=id %>/" + day);
        modal.find('.modal-body input').val(day)
      })
      
      // $('#exampleModal2').on('show.bs.modal', function (event) {
      //   var selValue = $("#singleSelectTextDDjQuery:selected").text();
      //  alert(selValue)
      //   $("#docsForm2").attr("action", "/addToSchdule/<%=id %>");
      // })
    
    </script>

</body>

</html>