<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      li {
          margin-right: 40px;
      }
      .navbar li {
          margin-right: 10px;
      }
     
</style>
      
  </head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <%= Name %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item active">
          <a class="nav-link" href="#"><%=id %> <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal">Join new class</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal2">Change Class Mode</button>

        </li>
     <li class="nav-item">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         ChatRooms
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% for(var i=0; i <  Stud_classNames.length; i++) { %>
          <form action="/chat.html?username=<%=id%>&room=<%=classids[i]%>&isteacher=0" method="post">
            <button class="dropdown-item"><%=Stud_classNames[i]%></button>
          </form>
          <% } %>
        </div>
      </div>
     </li>
     
      </ul>
    </div>
  </nav>

  
  <div class="container">
   
    <!-- Join new class -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Join new class</button> -->
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Join Class</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form id="JoinClassForm" method="post" action="/<%= id %>/JoinClass">
                <div class="form-group">
                  <label  class="col-form-label">Enter Class ID:</label>
                  <input type="text" id="ClassID_of_newClass" class="form-control" name="ClassCode_of_newClass">
                </div>
                <div class="form-group">
                  <label  class="col-form-label">Attend online?</label>
                  <input type="radio" value="1" name="attendOnline"> Yes
                  <input type="radio" value="0" name="attendOnline"> No
                </div>
                  <button class="move_to btn btn-light">Join</button>
              </form>

            </div>
          </div>
        </div>
      </div>

    <!-- Join new class ends -->
   <br><br>
    <!-- Schedule -->
    <p class="text-center fw-bold"> Weekly Schedule :</p>
    <div class="table-responsive">
      <table class="table caption-top">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">9:00 - 10:00</th>
      <th scope="col">10:00 - 11:00</th>
      <th scope="col">11:00 - 12:00</th>
      <th scope="col">12:00 - 13:00</th>
      <th scope="col">13:00 - 14:00</th>
      <th scope="col">14:00 - 15:00</th>
    
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i <  6; i++) { %>
    <tr>
      <th scope="row"><%=weekdays[i]%></th>
      <% for(var j=0; j < 6; j++) { %>
    
         <% if (timetable[i][j] === "Free" ) { %>
           <td></td>
          <% } else { %>
              <% if (online[i][j] === "online") { %>
                <div style="background-color: greenyellow;">
                <td><%= timetable[i][j]%> <small><%=online[i][j]%></small></td>
              </div>
              <% } else { %>
                <div style="background-color: #EC9BB0;">
                <td><%= timetable[i][j]%> <small><%=online[i][j]%></small></td>
              </div>
            <% } %>
          <% } %>

      <% } %>
    </tr>
    <% } %>
  </tbody>
      </table>
    </div>
    <!-- Schedule ends -->


    <br><br><br><br>
  <!-- Newsletter starts -->
  <p class="text-center fw-bold"> Notice :</p>
  <% for(var i=0 ; i< Stud_classNames.length ; i++){%>
    <%if(Newsletter_List[i].length > 0){%>
  <div class="card">
   
    <div class="card-header">
        <%=Stud_classNames[i]%>
      </div>
      <% for(var j=0 ; j< Newsletter_List[i].length ; j++){%>
      <div class="card-body">
        <p class="card-text" class="font-weight-normal"><h6>  <%=Newsletter_List[i][j].Notice%> </h6></p>
        <p class="card-text" class="font-weight-light"> <%=Newsletter_List[i][j].noticeDate%></p>
      </div>
      <%} %>
    </div>
    <% } %>
  
  <br>
  <% } %>
  <!-- Newsletter ends -->


     <!-- Toggle Class Mode form -->
      
     <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Change Class Mode</button> -->
    
     <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Submit the application to change class mode</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
 
               <form id="JoinClassForm" method="post" action="/<%= id %>/ToggleMode">
                 <div class="form-group">
                   <label  class="col-form-label">Enter Class Code:</label>
                   <input type="text" class="form-control" name="classCode">
                 </div>
                 <div class="form-group">
                  <label  class="col-form-label">Enter Start Date:</label>
                  <input type="date" class="form-control" name="startDate">
                 </div>
                 <div class="form-group">
                  <label  class="col-form-label">Enter End Date:</label>
                  <input type="date" class="form-control" name="endDate">
                 </div>
                 <div class="form-group">
                  <label  class="col-form-label">Enter Description:</label>
                  <textarea name="description" class="form-control" cols="50" rows="10"></textarea>
                 </div>
                   <button class="btn btn-light btn-sm">Submit</button>
               </form>
 
             </div>
           </div>
         </div>
       </div>

     <!-- Toggle Class Mode form ends -->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>


