<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
<style>
  .hov-effect:hover {
            -webkit-box-shadow: 0 8px 6px -6px black;
            -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
  }
  </style>

  </head>

<body>

  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><%=Name %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%=Name %>'s Register Number"><%=id %></a>
          </li>
        </ul>
        <form class="d-flex"  action="/<%=id %>/newClass" method="get">
          <input class="form-control me-2" type="input" placeholder="Enter class name" name="newClass">
          <button class="btn btn-outline-success" type="submit">Create</button>
        </form>
      </div>
    </div>
  </nav>
   <br><br>
  <div class="container">
    <div>
        <div>

            <div class="row">
              <% for(var i=0; i < ClassNames.length; i++) { %>
                <div class="col-sm-4">
                  <div class="card " style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><%= ClassNames[i] %></h5>
                      <h6 class="card-subtitle mb-2 text-muted"><%= classCode[i]%></h6>
                      <a href="/Class/<%= ClassIDs[i] %>" class="card-link btn btn-outline-info btn-sm">Go to class</a>
                      <a href="/deleteClass/<%= ClassIDs[i] %>/<%= classCode[i] %>" class="card-link btn btn-outline-danger btn-sm">Delete this class</a>
                    </div>
                  </div>
                </div>
               
                <br>
              <% } %>
              </div>
    
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
  </div>
  </body>
</html>