<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div>
      <h1><%=Name %></h1>
    </div>
    <br>
    <div>
      <h1><%=id %></h1>
  </div>
  <br>
    <form action="/<%=id %>/newClass" class="container" method="get">
        <div>
          <label for="">New Class Name</label>
          <input type="input" class="form-control" name="newClass">
        </div>
        <button>Create Class</button>
    </form>
    <div>
        <div>

            <div class="row">
              <% for(var i=0; i < ClassNames.length; i++) { %>
                <div class="col-sm-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><%= ClassNames[i] %></h5>
                      <p class="card-text"><%=ClassIDs[i]%></p>
                      <a href="/Class/<%= ClassIDs[i] %>" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <br>
              <% } %>
              </div>
    
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</div>
  </body>
</html>